{% extends '@AppBundle/Resources/views/default/index.html.twig' %}

{% block body %}
    {% block header %}{{ parent() }}{% endblock %}
    {% block fos_user_content %}
        <div class="section__title text-center">
            <h1 class="title__line">Create new  password</h1>
        </div>
{% include "@FOSUser/Resetting/reset_content.html.twig" %}
    {% endblock fos_user_content %}
    {% block footer %}{{ parent() }}{% endblock %}
{% endblock %}

