{% extends '@AppBundle/Resources/views/default/index.html.twig' %}

{% block body %}
{% block header %}

    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/chatbot.css') }}">

{% endblock %}
</br></br>
<div class="junior__classes__area section-lg-padding--top section-padding--md--bottom chat"
        style="background-image: url('{{ asset('images/chat.png') }}');background-repeat: no-repeat; background-attachment: fixed; background-position: center">
<div id="container" >
    <center><h4><a class="voice" href="#">Ask Now</a></h4></center>
</div>
</div>
{% endblock %}

